<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HeraDMS.Entity.Properties.Settings.WSS_Content_953fdefa4473447ea7f6b25a81824347ConnectionString" connectionString="Data Source=.;Initial Catalog=WSS_Content_953fdefa4473447ea7f6b25a81824347;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
